<div class="kart" ng-hide="items.length===0">
    <div class="total">
        <span class="glyphicon glyphicon-shopping-cart"></span><p>Total: {{totalCost()|currency:'€'}}</p>
    </div>
    <div>
        <table class="kart-product">
            <tr ng-repeat="item in items">
                <td><img ng-src="{{item.item.img[0]}}"></td>
                <td>
                    <h6>{{item.item.name}}</h6>
                    <p>{{item.qntt*item.item.price | currency:'€'}}</p>
                </td>
                <td>
                    <select id="qnt" ng-model="item.qntt" ng-change="updateItem(item)">
                        <option ng-repeat="a in [].constructor(item.item.quantity) track by $index" ng-value="$index+1">{{$index+1}}</option>
                    </select>
                </td>
                <td><button id="rmv" ng-click="removeItem(item)" class="glyphicon glyphicon-remove" title="Remove"></button></td>
            </tr>
            <p id="msg">{{msg}}</p>
        </table>
        <div class="cko">
            <button id="cko" class="btn" ng-click="buy()">checkout</button>
        </div>    
    </div>
</div>
<div class="rmv-item" ng-show="items.length===0"><h6>Items added to the cart will be shown here</h6></div>

