<div ng-repeat="item in items">
    <div style="padding:15px 15px 15px 15px; display: inline-block;width:100%;">
        <img ng-src="{{item.item.img[0]}}" style="float: left;margin-right: 20px; max-height: auto; width:25%">
        <div>
            <h1 style="margin-top:0;">
                {{item.item.name}}
            </h1>
            <button ng-click="removeItem(item)">RemoveItem</button>
        </div>
        <div style="float: right;text-transform: uppercase">
            <select ng-model="item.qntt" ng-change="updateItem(item)">
                <option ng-repeat="a in [].constructor(item.item.quantity) track by $index" ng-value="$index+1">{{$index+1}}</option>
            </select>
            <p>{{item.qntt*item.item.price | currency:'€'}}</p>
        </div>
    </div>
</div>
<div ng-show="items.length===0">Items added to the cart will be shown here</div>
<h1>{{msg}}</h1>
<div ng-hide="items.length===0">
    <span style="padding:15pt"> Total: {{totalCost()|currency:'€'}}</span> <button ng-click="buy()">BUYME</button>
</div>