<!-- Page with the contacts of the site's authors -->
<div>
    <h1 id="h1">Contact Us!</h1>
    <!-- Contacts of the author -->
    <div id="form">
        <div id="lucia">
                <label>First Name:</label>
                <p>Lucia</p>
                <label>Last Name:</label>
                <p>Benigni</p>
                <label>From:</label>
                <p>Jesi, AN, Italy</p>
                <label>Email:</label>
                <p>lucia.benigni@studenti.unicam.it</p>
            </div>
        <img id="luciaf" src="d.jpg" alt="lucia">
    </div>
    <!-- Contacts of the author -->
    <div id="form">
        <div id="bet">
                <label>First Name:</label>
                <p>Betim</p>
                <label>Last Name:</label>
                <p>Dervisi</p>
                <label>From:</label>
                <p>Camerino, MC, Italy</p>
                <label>Email:</label>
                <p>betim.dervisi@studenti.unicam.it</p>
        </div>
        <img id="betf" alt="bet" src="d.jpg">
    </div>
    <!-- Contacts of the author -->
    <div id="form">
        <div id="vlad">
                <label>First Name:</label>
                <p>Vladyslav</p>
                <label>Last Name:</label>
                <p>Sulimovskyy</p>
                <label>From:</label>
                <p>Civitanova Marche, MC, Italy</p>
                <label>Email:</label>
                <p>vladysla.sulimovskyy@studenti.unicam.it</p>
        </div>
        <img id="vladf" alt="vlad" src="d.jpg">
    </div>
</div>