<div class="col-sm-3">
    <div class="dropdown dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-chevron-down"></span>Categorie
    </div>
    <ul class="dropdown-menu">
        <li>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="#">Uomo</a>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca1.html">Marca1</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca2.html">Marca2</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca3.html">Marca3</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="#">Donna</a>
            <ul>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca1.html">Marca1</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca2.html">Marca2</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <a href="marca3.html">Marca3</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="#">Sveglia</a>
        </li>
    </ul>
</div>