<div>
    <div style="padding:15px 15px 15px 15px; display: inline-block;width:100%;border:1px solid black" ng-repeat="item in items">
        <img ng-click="rerout(item)" ng-src="{{item.img[0]}}" style="float: left;padding-right: 20px; max-height: 18em; width:32em">
        <div>
            <h3 style="margin-top:0" ng-click="rerout(item)">
                {{item.name}}
            </h3>
            <p>{{item.description}}</p>
            <div style="float: right">
                <p>{{item.quantity}} available</p>
                <p>{{item.price | currency:'€'}}</p>
            </div>
        </div>
    </div>
</div>