<h3> Manage your items:</h3>
<div class="itemSell" ng-repeat="item in itemsSelling">
    <div class="productSell" ng-submit="updateItemInfo(item)">
        <img ng-src="{{item.img[0]}}">
    </div>
    <ul class="infoSell">
        <li>
            <h5>
                <input id="title" type="text" ng-model="item.name" placeholder="{{item.name}}" ng-minlength="2" ng-maxlength="32765" required>
            </h5>
        </li>
        <li>
            <label>Price per unit(€):</label>
            <input type="number" min="0.01" step="0.01" max="2500" ng-model="item.price" placeholder="{{item.price}}" required>
        </li>
        <li>
            <label>Quantity available:</label>
            <input type="number" min="0.01" step="1" max="2500" ng-model="item.quantity" placeholder="{{item.quantity}}" required>
        </li>
        <li>
            <textarea ng-model="item.description" placeholder="{{item.description}}" ng-minlength="100" ng-maxlength="32765" required></textarea>
        </li>
        <li>
            <label>Weight per unit:</label>
            <input type="number" min="0.01" step="0.01" max="2500" ng-model="item.weight" placeholder="{{item.weight}}" required>
        </li>
    </ul>
    <div class="updateProduct">
        <button class="btn glyphicon glyphicon-ok-circle" ng-click="updateItemInfo(item)" title="Update"></button>
        <button class="btn glyphicon glyphicon-remove-circle" ng-click="deleteItem(item)" title="Remove"></button>
    </div>
</div>