<div class="bought">
    <h1>your purchases</h1>
    <div>
        <table class="history" ng-repeat="item in items">
            <tr>
                <th>
                    <h3>{{item.item.name}}</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <img ng-src="{{item.item.img[0]}}">
                </td>
                <td>
                    <p>
                        {{item.qnt + " bought on "+ gdate(item.date)+ " for "+ (item.pricePerUnit| currency:'€') + ""+(item.qnt>1? " each":"")}}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>