<div class="item">
    <div class="product-detail">
        <div class="gallery">
            <div>
                <img class="largeImg" ng-src="{{selected}}" alt="Product">
            </div>
            <ul class="thumb">
                <li ng-repeat=" a in [].constructor(item.img.length) track by $index">
                    <img ng-src="{{item.img[$index]}}" alt="Product" ng-click="select($index)">
                </li>
            </ul>
        </div>
        <ul class="info">
            <li>
                <h5>{{item.name}}</h5>
            </li>
            <li class="price">
                <p>{{item.price | currency:'€'}}</p>
            </li>
            <li>
                <p>{{item.quantity}} available</p>
            </li>
            <ul class="about">
                <li>
                    <p>{{item.description}}</p>
                </li>
                <li>
                    <p>Weight: {{item.weight}} KG</p>
                </li>
            </ul>
            <li class="buttons">
                <button ng-click="addToWishist()" class="btn glyphicon glyphicon-heart"></button>
                <p>{{watchingMsg}}</p>
                <div class="kart" ng-show="item.quantity>0">
                    <select ng-model="chosen">
                        <option ng-repeat="a in [].constructor(item.quantity) track by $index" ng-value="$index+1">{{$index+1}}</option>
                    </select>
                    <button ng-click="addToCart(item)" class="btn glyphicon glyphicon-shopping-cart"></button>
                    <p>{{cartMsg}}</p>
                </div>
                <div ng-hide="item.quantity>0">
                    We are sorry, the item is currently unavailable
                </div>
            </li>
        </ul>
    </div>
</div>