<!-- <div style="display:inline"> -->
<!-- <div style="width: 40%; margin:3em 3em 3em 3em"> -->
<!-- <img ng-click="next()" ng-src="{{item.img[current]}}" style="width: 100%;max-height: 100%; float:left"> -->
<!-- </div> -->
<!-- <h1>{{item.name}}</h1> -->
<!-- </div> -->


<div style="padding:15px 15px 15px 15px; display: inline-block;width:100%;">
    <img ng-click="next()" ng-src="{{item.img[current]}}" style="float: left;margin-right: 20px; max-height: auto; width:40%">
    <div>
        <h1 style="margin-top:0;">
            {{item.name}}
        </h1>
    </div>
    <div style="float: right;text-transform: uppercase">
        <p>{{item.quantity}} available</p>
        <p>{{item.price | currency:'€'}}</p>
        <button ng-click="addToWishist()">ADD TO WISHLIST</button>
        <p>{{watchingMsg}}</p>
        <select ng-model="chosen" ng-show="item.quantity>0">
            <option ng-repeat="a in [].constructor(item.quantity) track by $index" ng-value="$index+1">{{$index+1}}</option>
        </select>
        <div ng-hide="item.quantity>0">
            We are sorry, the item is currently unavailable
        </div>
        <button ng-click="alert(chosen)">sdf</button>
    </div>
</div>
<p>{{item.description}}</p>
<p>Weight:{{item.weight}} KG</p>