<div class="container">
	<div class="col-md-6">
		<div id="logbox">
			<form name="signUpForm" ng-submit="signup()">
				<h1>Create an account</h1>
				<label>First Name:</label>
				<input type="text" name="userFirstName" ng-model="firstName" ng-minlength="2" ng-maxlength="32765" required />
				<div ng-messages="signUpForm.userFirstName.$error">
					<div ng-message="required">This field is required</div>
					<div ng-message="minlength">Is your name realy that short?</div>
					<div ng-message="maxlength">Do you want to cause an IntegerOVerflow?</div>
				</div>
				<label>Last Name:</label>
				<input type="text" name="userLastName" ng-model="lastName" ng-minlength="2" ng-maxlength="32765" required />
				<div ng-messages="signUpForm.userLastName.$error">
					<div ng-message="required">This field is required</div>
					<div ng-message="minlength">Is your name realy that short?</div>
					<div ng-message="maxlength">Do you want to cause an IntegerOVerflow?</div>
				</div>
				<label>Email Address:</label>
				<input type="email" name="userEmail" ng-model="upemail" required />
				<div ng-messages="signUpForm.userEmail.$error">
					<div ng-message="email">Your email address is invalid</div>
				</div>
				<label>Password:</label>
				<input type="password" ng-model="uppassword" required />
				<div ng-messages="signUpForm.userEmail.$error">
				</div>
				<label>Security question:</label>
				<select>
					<option value="#1">ajlsdajklsadla?</option>
					<option value="#1">kfsdjfkj?</option>
					<option value="#1">wwrwer?</option>
				</select>
				<input type="text" name="answer" ng-model="calabbria" required/>
				<button type="submit" class="btn btn-primary btn-block">Sign In</button><button type="reset"  class="btn btn-primary btn-block">Delete All</button>
			</form>
		</div>
	</div>
	<div class="verticalLine">
	<div class="col-md-6">
		<div id="logbox">
			<form name="signUpForm" ng-submit="signin()" id="login">
				<h1>Forgot to LogIn?</h1>
				<label>Email Address:</label>
				<input type="email" name="userEmail" ng-model="inemail" required />
				<div ng-messages="signUpForm.userEmail.$error">
					<div ng-message="email">Your email address is invalid</div>
				</div>
				<label>Password:</label>
				<input type="password" ng-model="inpassword" required />
				<div ng-messages="signUpForm.userEmail.$error">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Log In</button>
			</form>
		</div>
	</div>
</div>
</div>
