<div id="userpage">
	<div id="head">
		<div id="ico">
			<span class="glyphicon glyphicon-user" style="font-size: 9em;"></span>
		</div>
		<div id="name">
			<span><h2>Welcome back,</h2></span>
			<span><h1>{{user.name}} {{user.lastName}}</h1></span>
		</div>
	</div>
	
	<div id="middle">
    	<div id="info">
			<span><label>Name:</label> {{user.name}}</span>
    		<br />
    		<span><label>Last name:</label> {{user.lastName}}</span>
    		<br />
    		<span><label>Email:</label> {{user.email}}</span>
		</div>
		<div id="action">
			<a href="#!/cart"><span class ="glyphicon glyphicon-shopping-cart"></span>  Your cart</a>
			<br />
			<a href="#!/watchList"><span class="glyphicon glyphicon-eye-open"></span>  Items you are watching</a>
			<br />
    		<a href="#!/addItemToSell" ng-show="user.admin"><span class="glyphicon glyphicon-euro"></span>  Sell something</a>
    		<br />
    		<a href="#!/itemsSelling" ng-show="user.admin"><span class="glyphicon glyphicon-cog"></span>  Menage items you're selling</a>
    		<br />    	
    		<a href="#!/past"><span class="glyphicon glyphicon-time"></span>  History</a>
		</div>
	</div>
	<div id="logout">
		<button ng-click="logout()" class="btn glyphicon">Logout</button>
    	<br/>
	</div>
</div>