#logbox {
	margin: auto;
	padding-top: 40px;
	padding-bottom: 200px;
	width: 340px;
}
#logbox label {
	text-align: center;
	text-transform: uppercase;
}
#logbox h1 {
	color: #757575;
	font-size: 2em;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
}
#logbox input {
	float: left;
	width: 75%;
	height: 30px;
	display: block;
	margin: 0 auto 15px;
	padding: 0 15px;
	border: none;
	border-bottom: 2px solid #ebebeb;
}
#logbox input:focus {
	outline: none;
	border-bottom-color: #cc0000 !important;
}
#logbox input:hover {
	border-bottom-color: #dcdcdc;
}
#logbox input:invalid dirty {
	box-shadow: none;
	background-color: #cc0000;
}
#logbox button {
	float: left;
	position: static;
	display: block;
	width: 90%;
	margin: 20px auto 10px;
	color: #ffffff;
	background-color: #cc0000;
	border: none;
}
#logbox button:hover {
	background-color: #b30000;
}
#logbox select {
	height: 35px;
	overflow: hidden;
	width: 90%;
   	border-radius: 5px;
	border-color: #dcdcdc;
	background-color: #dcdcdc;	
	margin-bottom: 10px;
}
#login:after {
  content: '';
  width: 0;
  height: 450px;
  position: absolute;
  border: 1px solid #cc0000;
  top: 100px;
  left: 10px;
}