.frontPage {
	width: 100%;
}
.top1 {
	display: inline-block;
	width: 25%;
	margin-left: 5%;
}
.top2 {
	margin-right: 5%;
	float: right;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #242424;
}
.top2 select {
	border: none;
	background-color: #ffffff;
	color: #ff3e00;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.product-list {
	width: 100%;
	float: left;
	list-style: none;
	margin: auto;
	padding: auto;
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
}
.product-list li{
	float: left;
	margin: 0 10px 10px 0;
}
.product {
	width: 300px;
	height: 300px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.product img{
	position: absolute;
	overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	width: 100%;
	height: 65%;
	display: block;
	transition: all .35s ease-in-out;
}
.product img:hover {
	transform: scale(1.2, 1.2);
}
.product:hover .button {
	bottom: 0;
}
.button {
	position: absolute;
	bottom: -40%;
	left: 0;
	width: 100%;
	text-align: center;
	transition: all .35s ease;
}
.button button {
	color: #ffffff;
	border: none;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1em;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.button a {
	text-decoration: none;
	color: #ffffff;
}
.button a:hover{
	color: #ffffff;
	text-decoration: none;
}
.name h6 {
	margin: 6px 0 0 0;
	text-align: center;
	color: #ff3e00;
	padding: 8px 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
.name h6:before {
	padding: 0 5px;
}
.pagez button {
	border: none;
	background-color: #ffffff;
	color: #ff3e00;
	font-size: 2em;
	padding: 0;
	position: static;
}
.down1 {
	display: inline-block;
	margin-left: 5%;
}
.down2 {
	float: right;
	margin-right: 5%;
}
.down1, .down2 {
	text-transform: uppercase;
	font-size: 1em;
	color: #242424;
	font-weight: bold;
}
.down1 a {
	color: #cccccc;
	text-decoration: none;
	cursor: pointer;
}
.down1 a:hover {
	color: #cccccc;
	font-weight: bold;
}
.down1 a:visited {
	color: #cccccc;
}