h3{
    text-align: center;
    text-transform: uppercase;
    color: #ff3e00;
    font-size: 2.5em;
}
.itemSell {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.productSell img{
    float: left;
    width: 400px;
    height: 400px;
    padding: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
}
.infoSell li{
    list-style-type: none;
    display: inline;
    position: relative;
}
.infoSell h5 {
    padding-top: 20px;
    color: #ff3e00;
    font-size: 2.5em;
	text-transform: uppercase;
    font-family: Arial, Helvetica;
}
#title {
    height: 50px;
}
.infoSell label {
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Arial, Helvetica;
}
.infoSell input {
    width: 30%;
    display: block;
    height: 30px;
	border: none;
    border-bottom: 2px solid #ebebeb;  
    margin-bottom: 10px;  
}
.infoSell input:focus {
	outline: none;
	border-bottom-color: #ff3e00 !important;
}
.infoSell input:hover {
	border-bottom-color: #dcdcdc;
}
.infoSell input:invalid dirty {
	box-shadow: none;
	background-color: #ff3e00;
}
.infoSell textarea {
    margin-top: 10px;
    width: 50%;
    height: 100px;
    display: block;
	border: none;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 10px;
}
.aaa {
    position: relative;
    margin: auto 0;
    text-align: right;
}
.aaa button {
    border: none;
    background-color: #ffffff;
    color: #ff3e00;
    font-size: 2.5em;
}
.aaa button:hover {
	color: #cc3300;
}
.aaa button:focus {
	color: #cc3300;
}
.aaa button:active {
    color: #cc3300;
}