.bought {
    position: relative;
    margin: 0 auto;
}
.bought h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica;
    font-size: 2.2em;
    color: #ff3e00;
    text-align: center;
}
.history {
    position: relative;
    width: 50%;
    height: 100px;
    margin-left: 30px;
    border-bottom: 1px solid #8c8c8c;
    bottom: 10px;
}
.history td {
    vertical-align: middle;
    padding-bottom: 10px;
    margin: auto 0;
    width: 20%;
}
.history h3 {
    text-transform: uppercase;
    font-family: Arial, Helvetica;
    font-size: 1.9em;
    color: #ff3e00;
}
.history img {
    width: 100px;
    border-radius: 5%;
    height: 100px;
    left: 0px;
}
.history p {
    font-size: 1.1em;
    top: 0px;
    color: #8c8c8c;
    vertical-align: middle;
}