/* FORM */
#sellbox {
	margin: auto;
	padding-top: 0px;
	width: 500px;
}
#sellbox h1 {
	color: #757575;
	font-size: 3em;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
}
#sellbox h2 {
	color: #8c8c8c;
	font-size: 1.6em;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
}
#sellbox label {
	text-align: center;
	text-transform: uppercase;
}
#sellbox input {
	width: 70%;
	height: 30px;
    display: block;
	border: none;
	border-bottom: 2px solid #ebebeb;
}
#sellbox input:focus {
	outline: none;
	border-bottom-color: #ff3e00 !important;
}
#sellbox input:hover {
	border-bottom-color: #dcdcdc;
}
#sellbox input:invalid dirty {
	box-shadow: none;
	background-color: #ff3e00;
}
#sellbox textarea {
    width: 70%;
    height: 30px;
    display: block;
	border: none;
	border-bottom: 2px solid #ebebeb;
}
#sellbox button {
	float: left;
	position: static;
	display: block;
	width: 70%;
	margin: 20px auto 10px;
	color: #ffffff;
	background-color: #ff3e00;
	border: none;
}
#sellbox button:hover {
	background-color: #cc3300;
}