#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .help-block {
        font-size: 12px;
    }

    #login-dp .bottom {
        background-color: white;
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}

#slides_control > div {
    height: 200px;
}

img {
    margin: auto;
    width: 400px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}
