/* BODY */
body {
	font: 15px Arial, Helvetica;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	display: inline-block;
	width: 100%;
}
/* NAV */
#nav {
	background-color: #242424;
	margin: auto;
	text-transform: uppercase;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: #ffffff;
	text-transform: uppercase;
}

	#login-dp a{
		color: #000000;
		text-decoration: none;
	}

	#login-dp a:hover{
		color: #cccccc;
		font-weight: bold;
	}

    #login-dp .help-block {
        font-size: 12px;
    }

    #login-dp .bottom {
        background-color: #ffffff;
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #ffffff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}

#login-dp button {
	background-color: #cc0000;
	border: #cc0000;
}

#login-dp button:hover{
	background-color: #b30000;
}

#logbox input:focus{
	border-color: #f4f4f4;
}
/* FOOTER */
footer {
	background-color: #242424;
	margin: auto;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 0.90em;
	height:40px; 
	display: inline-block;
	position:fixed;
	bottom:0;
	width:100%;
}
footer ul {
	float: right;
	margin: 0;
	padding: 0;
}
footer ul li {
	display: inline;
	padding: 10px 15px 0 0;
	float: left;
	color: #f4f4f4;
	
}

footer ul li a {
	color: #cccccc;
	text-decoration: none;
}

footer ul li a:hover {
	color: #cccccc;
	font-weight: bold;
}