#userpage {
	margin: auto;
	padding-top: 0px;
	width: 650px;
	
}
#userpage label {
	color: #333;
	font-weight: bold;
}
#head {
	height: 150px;
	margin-top: 70px;
}
#ico {
	width: 20%;
    float: left;
}
#name {
	    margin-left: 150px;
}
#name h1 {
	color: #757575;
	font-size: 3em;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
}
#name h2 {
	color: #8c8c8c;
	font-size: 1.6em;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
}
#middle {
	height: 140px;
	margin-top: 30px;
}
#info {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 10%;
	float: left;
}
#action {
	margin-bottom: 10%;
	margin-right: 30px;
	float: right;
	font-size: 1.1em;
	display: block;
	color: #cccccc;
	text-transform: uppercase;
}

#action a {
	color: #cccccc;
	text-decoration: none;
}
#action a:hover {
	color: #cccccc;
	font-weight: bold;
}
#action a:visited {
	color: #cccccc;
} 
#logout {
	height:100px;
	padding-left: 35%;	
}
#logout button {
    margin-top: 10px;
    width: 26%;
	color: #ffffff;
	background-color: #ff3e00;
	border: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica;
	transition-duration: 0.4s;
}
#logout button:hover {
    background-color: #cc3300;
    color: #ffffff;
}
#logout button:focus {
    background-color: #cc3300;
    color: #ffffff;
}
#logout button:visited {
    background-color: #cc3300;
    color: #ffffff;
}


